@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "JosefinSans";
        src: url("./fonts/JosefinSans.ttf");
    }

    input,
    textarea {
        @apply rounded border-none bg-transparent w-full resize-none;
    }

    input:focus,
    textarea:focus,
    button:focus {
        border: none;
        outline: none;
    }

    .note {
        @apply p-8 shadow flex flex-col justify-between rounded-3xl;
        min-height: 280px;
    }

    textarea::placeholder,
    textarea::-ms-input-placeholder {
        color: rgb(75, 85, 99);
        text-align: center;
    }

    button.pressed {
        box-shadow: none;
        transform: translate(1px, 1px);
    }
}
