@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
    @apply rounded border-none bg-transparent w-full resize-none;
}

input:focus,
textarea:focus {
    border: none;
    outline: none;
}

.note {
    @apply p-4 m-4 shadow-lg bg-yellow-300 w-60;
    min-height: 250px;
}
