@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "JosefinSans";
        src: url("./fonts/JosefinSans.ttf");
    }

    input,
    textarea {
        @apply rounded border-none bg-transparent w-full resize-none;
    }

    input:focus,
    textarea:focus,
    button:focus {
        border: none;
        outline: none;
    }

    .note {
        @apply p-8 shadow flex flex-col justify-between rounded-3xl;
        min-height: 280px;
    }

    input::placeholder,
    input::-ms-input-placeholder,
    textarea::placeholder,
    textarea::-ms-input-placeholder {
        color: rgba(107, 114, 128);
    }

    button.pressed {
        box-shadow: none;
        transform: translate(1px, 1px);
    }

    .animate-fadein {
        animation: fadein 0.5s cubic-bezier(0.4, 0, 0.6, 1) forwards;
    }

    .clock-container {
        top: calc(50% + 3rem);
        transform: translateY(-50%);
    }
}

@keyframes fadein {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
