input[type="date"] {
    border: none;
    text-indent: -9999px;
    width: 50px;
    outline: none;
    background: none;
    margin-right: 10px;
    margin-left: -20px;
}

input[type="text"] + input[type="date"] {
    margin-left: -52px;
}
